{% extends 'base.html' %}
{%load static%}
{% load ratings %}

{% block content %}
{% if subject %}
<h1>These tutors can teach you: {{subject.name}}</h1>
<div class = "container">
  <ul>
    {% for user in subject.tutor_type.all %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 center-block" style="float:none;">
          <div class="well well-md">
          <h2 class ="red-text text-center titleTag">
            <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}"> {{user.first_name}} {{user.last_name}}</a>
          </h2>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                  {% if user.image %}
                      <img src="{{ user.image.url }}"  alt="" class="img-rounded img-responsive"/>
                  {% endif %}
                  {% ratings user %}
                </div>
                <div class="col-sm-6 col-md-8">
                    <p>
                      <i class="glyphicon glyphicon-envelope"></i>
                      Available for the following subject(s):
                      <br />
                      {%for subject in user.subject.all %}
                      <a href = "{{subject.get_absolute_url}}">
                        {{subject}}
                      </a>
                      {% if not forloop.last %},
                      {%endif%}
                      {%endfor%}
                      <br/>
                      <br/>
                      <i class="fa fa-ils"></i>
                      Cost per hour: {{user.charge}}
                      <br />
                      <br />
                      <i class="glyphicon glyphicon-map-marker"></i> {{user.area}}
                    </p>
                    <div class="btn-group">
                          <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}"><button type="submit" class="submit">More details</button></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </ul>
  </div>
{% else %}
  <p>There are no tutors in the database.</p>
{% endif %}



{% endblock %}
